.tiles {
  border: solid 3px black;
  display: grid;
  height: 150px;
  width: 150px;
  border-radius: 10%;
  text-align: center;
  background-color: lightblue;
  margin-left:5px;
  margin-bottom:5px;
  font-size: 125px;
  font-family: typewriter;
  color: black;
}

.grid-template {
  grid-template-columns: auto auto auto;
  display: grid;
  justify-content: center;
  margin-top: 40px;
  padding-bottom: 200px;
}

.header {
  text-align: center;
  font-size: 80px;
  font-weight: bold;
  font-style: italic;
  background-color: #ffffcc;
  padding-top: 20px;
  padding-bottom: 20px;

}
.App {
  background-color: #ff5050;
}
